<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer mode="over">
    <div class="header">
      <button mat-icon-button color="accent" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <h4>Men&uacute;</h4>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button color="accent" class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Lista de compras</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>