.example-container
    width: 100%
    min-height: 100%
    margin: 0
    
mat-drawer-content
    background-color: #222222
    height: 100%
    width: 100%

mat-drawer
    height: 100%
    width: 80%
    color: #eeeeee
    background-color: #344955

.header
    display: flex
    justify-content: space-between
    align-items: center
    flex-flow: row wrap
    