<div class="body">
    <mat-card>
        <h2>Instrucciones de uso</h2>
        <p>Para ingresar un elemento a la lista de compras solo haga click en el bot&oacute;n</p>
        <mat-divider></mat-divider>
        <div class="segmento">
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
            <p>Una vez haya elementos agregados en la lista apareceran los siguientes botones en la pantalla botones</p>
        </div>
        <mat-divider></mat-divider>
        <div class="segmento">
            <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
            <p>Elimina la lista de compras</p>
        </div>
        <mat-divider></mat-divider>
        <div class="segmento">
            <button mat-mini-fab color="primary">
                <mat-icon>remove</mat-icon>
            </button>
            <p>Retira los elementos marcados de la lista</p>
        </div>
        <mat-divider></mat-divider>
        <div class="segmento">
            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
            <p>Retira el elemento de la lista</p>
        </div>
    </mat-card>
</div>
